.title {
  align-items: center;
  color: var(--color-neutral-600);
  column-gap: var(--size-base);
  display: flex;
  font-size: var(--text-base);

  h2 {
    color: var(--color-gray-950);
    font-size: var(--text-xl);
    font-weight: 600;
  }
}
