.container {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-base);
}

.title {
  color: var(--color-gray-950);
  font-size: var(--text-md);
  font-weight: 600;
}

.description {
  align-items: center;
  column-gap: var(--size-base);
  color: var(--color-gray-500);
  display: flex;
  font-size: var(--text-md);
}

.icon {
  color: var(--color-blue-500);
  font-size: calc(var(--text-lg));
}
